# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Daelyn Jones
email = daelyn@seam.io 
[core]
	editor = vim
  pager = less -+FX
[pull]
	rebase = true
[push]
	autoSetupRemote = true
